<link rel="stylesheet" href="css/main.css" type="text/css" media="screen"/>
<div id="board">
	<table cellspacing="0" cellpadding="0">
		<thead>
		</thead>
		<tbody>
		    <form action="/board" method="post">
    			<input name="player" type="hidden" value=<%= @player %>
    			<tr id="top">
    				<td>
                        <button name="cell" type="hidden" value="0" ><%= @state[0] %></button>
    				</td>
    				<td>
    				    <button name="cell" type="hidden" value="1" ><%= @state[1]%></button>
                    </td>
    				<td>
    				    <button name="cell" type="hidden" value="2" ><%= @state[2]%></button>
    				</td>
    			</tr>
    			<tr>
    				<td>
    				    <button name="cell" type="hidden" value="3" ><%= @state[3]%></button>
    				</td>
    				<td>
    				    <button name="cell" type="hidden" value="4" ><%= @state[4]%></button>
                    </td>
    				<td>
    				    <button name="cell" type="hidden" value="5" ><%= @state[5]%></button>
    				</td>
    			</tr>
    			<tr>
    				<td>
    				    <button name="cell" type="hidden" value="6" ><%= @state[6]%></button>
    				</td>
    				<td>
    				    <button name="cell" type="hidden" value="7" ><%= @state[7]%></button>
    				</td>
    				<td>
    				    <button name="cell" type="hidden" value="8" ><%= @state[8]%></button>
    				</td>
    			</tr>
			</form>
		</tbody>
	</table>
</div>
<p id="message"><%= @message %></p>
