<link rel="stylesheet" href="css/main.css" type="text/css" media="screen"/>
<p><a href="/start_over">Start Over</a></p>
<p><a href="/quit">Quit Game</a>
</p>
<p id="message"><%= @message %></p>
<div id="board">
	<table cellspacing="0" cellpadding="0">
		<thead>
		</thead>
		<tbody>
		    <form action="/board" method="post">
    			<tr id="top">
    				<td>
                        <button class="button" name="cell" type="hidden" value="0" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[0] %></button>
    				</td>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="1" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[1]%></button>
                    </td>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="2" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[2]%></button>
    				</td>
    			</tr>
    			<tr>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="3" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[3]%></button>
    				</td>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="4" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[4]%></button>
                    </td>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="5" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[5]%></button>
    				</td>
    			</tr>
    			<tr>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="6" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[6]%></button>
    				</td>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="7" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[7]%></button>
    				</td>
    				<td>
    				    <button class="button" name="cell" type="hidden" value="8" <%= "disabled=\"true\"" if @messenger.game_over %> ><%= @state[8]%></button>
    				</td>
    			</tr>
			</form>
		</tbody>
	</table>
</div>